@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    background-color: rgb(0, 191, 255);
    font-family: 'Bangers', sans-serif;
    font-size: 1.2rem; 
    color: #333; 
    line-height: 1.6; 
  }

  nav {
    background-color: #f700ff;
}

.navbar-brand {
    font-family: 'Luckiest Guy', sans-serif;
    font-weight: bold;
    font-size: 2rem; 
}

.nav-link {
    font-family: 'Bangers', sans-serif; 
    font-size: 1.2rem; 
    color: white; 
    font-weight: bold; 
    text-transform: uppercase; 
}

.nav-link:hover {
    color: yellow;
    text-decoration: underline; 
}

.custom-card {
    background-color: rgb(0, 191, 255);
  }

  .custom-card .card-title {
    color: #f700ff;
  }
  
  .custom-card .card-text {
    color: #333;
  }
  
  .custom-list{
    color:#333;
  }